html {
  font-size: 20px;
}

nav ul {
  background-color: yellow;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
}

nav li {
  color: blue;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 25%;
}

nav a {
  display: inline-block;
  box-sizing: border-box;
  line-height: 2.5;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

nav a:focus, nav a:hover {
  color: yellow;
  background-color: forestgreen;
}
